---
import Layout from "@/layouts/Layout.astro";

import cameraSettingsValues from "@/assets/camera_settings_values.json";

import Result from "./result.astro";
---

<Layout>
  <form method="get">
    <div class="flex flex-col">
      <label
        >fov
        <input
          name="fov"
          type="number"
          min={cameraSettingsValues.fov.min}
          max={cameraSettingsValues.fov.max}
          step={cameraSettingsValues.fov.step}
          value={cameraSettingsValues.fov.min}
        /></label
      >
      <label
        >height
        <input
          name="height"
          type="number"
          min={cameraSettingsValues.height.min}
          max={cameraSettingsValues.height.max}
          step={cameraSettingsValues.height.step}
          value={cameraSettingsValues.height.min}
        /></label
      >
      <label
        >angle
        <input
          name="angle"
          type="number"
          min={cameraSettingsValues.angle.min}
          max={cameraSettingsValues.angle.max}
          step={cameraSettingsValues.angle.step}
          value={cameraSettingsValues.angle.min}
        /></label
      >
      <label
        >distance
        <input
          name="distance"
          type="number"
          min={cameraSettingsValues.distance.min}
          max={cameraSettingsValues.distance.max}
          step={cameraSettingsValues.distance.step}
          value={cameraSettingsValues.distance.min}
        /></label
      >
      <label
        >stiffness
        <input
          name="stiffness"
          type="number"
          min={cameraSettingsValues.stiffness.min}
          max={cameraSettingsValues.stiffness.max}
          step={cameraSettingsValues.stiffness.step}
          value={cameraSettingsValues.stiffness.min}
        /></label
      >
      <label
        >swivelSpeed
        <input
          name="swivelSpeed"
          type="number"
          min={cameraSettingsValues.swivelSpeed.min}
          max={cameraSettingsValues.swivelSpeed.max}
          step={cameraSettingsValues.swivelSpeed.step}
          value={cameraSettingsValues.swivelSpeed.min}
        /></label
      >
      <label
        >transitionSpeed
        <input
          name="transitionSpeed"
          type="number"
          min={cameraSettingsValues.transitionSpeed.min}
          max={cameraSettingsValues.transitionSpeed.max}
          step={cameraSettingsValues.transitionSpeed.step}
          value={cameraSettingsValues.transitionSpeed.min}
        /></label
      >
    </div>
    <button type="submit">似たプロを見る</button>
  </form>

  <hr />

  <Result />
</Layout>
