---
import Layout from "@/layouts/Layout.astro";

import cameraSettingsValues from "@/assets/camera_settings_values.json";

import Result from "./result.astro";
---

<Layout>
  <form method="get">
    <div class="flex flex-col">
      <label
        >fov
        <input
          name="fov"
          {...cameraSettingsValues.fov}
          type="number"
          value={cameraSettingsValues.fov.min}
        /></label
      >
      <label
        >height
        <input
          name="height"
          {...cameraSettingsValues.height}
          type="number"
          value={cameraSettingsValues.height.min}
        /></label
      >
      <label
        >angle
        <input
          name="angle"
          {...cameraSettingsValues.angle}
          type="number"
          value={cameraSettingsValues.angle.min}
        /></label
      >
      <label
        >distance
        <input
          name="distance"
          {...cameraSettingsValues.distance}
          type="number"
          value={cameraSettingsValues.distance.min}
        /></label
      >
      <label
        >stiffness
        <input
          name="stiffness"
          {...cameraSettingsValues.stiffness}
          type="number"
          value={cameraSettingsValues.stiffness.min}
        /></label
      >
      <label
        >swivelSpeed
        <input
          name="swivelSpeed"
          {...cameraSettingsValues.swivelSpeed}
          type="number"
          value={cameraSettingsValues.swivelSpeed.min}
        /></label
      >
      <label
        >transitionSpeed
        <input
          name="transitionSpeed"
          {...cameraSettingsValues.transitionSpeed}
          type="number"
          value={cameraSettingsValues.transitionSpeed.min}
        /></label
      >
    </div>
    <button type="submit">似たプロを見る</button>
  </form>

  <hr />

  <Result />
</Layout>
